<div class="basic-grey">
  <script> 
    $.notify("<%= notice %>", "success")
  </script>
  
  <h1><%= "#{t('messages.listing')} #{@contacts.model_name.human(count: @contacts.count)}" %> </h1>
  
  <table>
    <thead>
      <tr>
        <th><%= @contacts.model.human_attribute_name("name") %></th>
        <th><%= @contacts.model.human_attribute_name("type") %></th>
        <th colspan="2"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @contacts.each do |contact| %>
        <tr style="background-color:<%= cycle("white","#F7F7F7") %>">
          <td><%= link_to contact.nome, contact %></td>
          <td><%= contact.type.description %></td>
          <td><%= link_to t('buttons.edit'), edit_contact_path(contact), class: "btn btn-info" %></td>
          <td><%= link_to t('buttons.destroy'), contact, method: :delete, data: { confirm: t('messages.confirm') }, class: "btn btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @contacts %>
  
  <br>
  
  <%= link_to t('buttons.new'), new_contact_path, class: "button" %>
  <%= link_to t('buttons.back'), home_index_path, class: "button" %>
</div>